<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myGameLabel" jhiTranslate="popApp.game.home.createOrEditLabel">Create or edit a Game</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!game.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="game.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.game.titleId" for="field_titleId">Title Id</label>
            <input type="text" class="form-control" name="titleId" id="field_titleId"
                [(ngModel)]="game.titleId" required minlength="4" maxlength="4" pattern="^[a-zA-Z0-9]*$" />
            <div [hidden]="!(editForm.controls.titleId?.dirty && editForm.controls.titleId?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.titleId?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.titleId?.errors?.minlength" jhiTranslate="entity.validation.minlength" translateValues="{ min: 4 }">
                   This field is required to be at least 4 characters.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.titleId?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 4 }">
                   This field cannot be longer than 4 characters.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.titleId?.errors?.pattern" jhiTranslate="entity.validation.pattern" translateValues="{ pattern: 'Title Id' }">
                    This field should follow pattern for "Title Id".
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.game.titleName" for="field_titleName">Title Name</label>
            <input type="text" class="form-control" name="titleName" id="field_titleName"
                [(ngModel)]="game.titleName" required maxlength="50" />
            <div [hidden]="!(editForm.controls.titleName?.dirty && editForm.controls.titleName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.titleName?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.titleName?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 50 }">
                   This field cannot be longer than 50 characters.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.game.status" for="field_status">Status</label>
            <select class="form-control" name="status" [(ngModel)]="game.status" id="field_status"  required>
                <option value="NEW">{{'popApp.GameStatus.NEW' | translate}}</option>
                <option value="DRAFT">{{'popApp.GameStatus.DRAFT' | translate}}</option>
                <option value="READY">{{'popApp.GameStatus.READY' | translate}}</option>
                <option value="ACTIVE">{{'popApp.GameStatus.ACTIVE' | translate}}</option>
                <option value="CLOSED">{{'popApp.GameStatus.CLOSED' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.status?.dirty && editForm.controls.status?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.status?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.game.version" for="field_version">Version</label>
            <input type="text" class="form-control" name="version" id="field_version"
                [(ngModel)]="game.version"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.game.titleWebsite" for="field_titleWebsite">Title Website</label>
            <input type="text" class="form-control" name="titleWebsite" id="field_titleWebsite"
                [(ngModel)]="game.titleWebsite"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.game.downloadUrl" for="field_downloadUrl">Download Url</label>
            <input type="text" class="form-control" name="downloadUrl" id="field_downloadUrl"
                [(ngModel)]="game.downloadUrl"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.game.logoUrl" for="field_logoUrl">Logo Url</label>
            <input type="text" class="form-control" name="logoUrl" id="field_logoUrl"
                [(ngModel)]="game.logoUrl"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.game.createdAt" for="field_createdAt">Created At</label>
            <div class="d-flex">
                <input id="field_createdAt" type="datetime-local" class="form-control" name="createdAt" [(ngModel)]="game.createdAt"
                required  />
            </div>
            <div [hidden]="!(editForm.controls.createdAt?.dirty && editForm.controls.createdAt?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.createdAt?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.createdAt?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.game.lastModifiedAt" for="field_lastModifiedAt">Last Modified At</label>
            <div class="d-flex">
                <input id="field_lastModifiedAt" type="datetime-local" class="form-control" name="lastModifiedAt" [(ngModel)]="game.lastModifiedAt"
                required  />
            </div>
            <div [hidden]="!(editForm.controls.lastModifiedAt?.dirty && editForm.controls.lastModifiedAt?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.lastModifiedAt?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.lastModifiedAt?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
