<div>
    <h2>
        <span > /^_^/ Juegos</span>
        <button class="btn btn-primary float-right jh-create-entity create-game" [routerLink]="['/', { outlets: { popup: ['game-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  Translate="popApp.game.home.createLabel">
            Crear Juego
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="games">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span ></span><span class="fa fa-sort"></span></th>
            <th jhiSortBy="titleId"><span>Game</span></th>
            <th jhiSortBy="logoUrl"><span>Logo</span></span></th>
            <th jhiSortBy="titleName"><span >Titulo</span></th>
            <th jhiSortBy="status"><span >Status</span></th>
            <th jhiSortBy="version"><span >Version</span></th>
            <th jhiSortBy="createdAt"><span>Created_At</span></th>
            <th jhiSortBy="lastModifiedAt"><span>Modified_At</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let game of games ;trackBy: trackId">
                <td><a [routerLink]="['../game', game.id ]">{{game.id}}</a></td>
                <td>{{game.titleId}}</td>
                <td><img style="max-width:80px !important;max-height:50px !important;"src="{{game.logoUrl}}"></img></td>
                <td>{{game.titleName}}</td>
                <td jhiTranslate="{{'popApp.GameStatus.' + game.status}}">{{game.status}}</td>
                <td>{{game.version}}</td>
                <td>{{game.createdAt | date:'medium'}}</td>
                <td>{{game.lastModifiedAt | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <!--button type="submit"
                                [routerLink]="['../game', game.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button-->
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'game/'+ game.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'game/'+ game.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
