
<div *ngIf="game">
    <h2><span jhiTranslate="popApp.game.detail.title">Game</span> {{game.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="popApp.game.titleId">Title Id</span></dt>
        <dd>
            <span>{{game.titleId}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.game.titleName">Title Name</span></dt>
        <dd>
            <span>{{game.titleName}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.game.status">Status</span></dt>
        <dd>
            <span jhiTranslate="{{'popApp.GameStatus.' + game.status}}">{{game.status}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.game.version">Version</span></dt>
        <dd>
            <span>{{game.version}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.game.titleWebsite">Title Website</span></dt>
        <dd>
            <span>{{game.titleWebsite}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.game.downloadUrl">Download Url</span></dt>
        <dd>
            <span>{{game.downloadUrl}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.game.logoUrl">Logo Url</span></dt>
        <dd>
            <span>{{game.logoUrl}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.game.createdAt">Created At</span></dt>
        <dd>
            <span>{{game.createdAt | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.game.lastModifiedAt">Last Modified At</span></dt>
        <dd>
            <span>{{game.lastModifiedAt | date:'medium'}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'game/'+ game.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
