
<div *ngIf="achievementDefinition">
    <h2><span jhiTranslate="popApp.achievementDefinition.detail.title">Achievement Definition</span> {{achievementDefinition.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="popApp.achievementDefinition.avIconUrl">Av Icon Url</span></dt>
        <dd>
            <span>{{achievementDefinition.avIconUrl}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.achievementDefinition.avCode">Av Code</span></dt>
        <dd>
            <span>{{achievementDefinition.avCode}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.achievementDefinition.avNumber">Av Number</span></dt>
        <dd>
            <span>{{achievementDefinition.avNumber}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.achievementDefinition.avTitle">Av Title</span></dt>
        <dd>
            <span>{{achievementDefinition.avTitle}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.achievementDefinition.avType">Av Type</span></dt>
        <dd>
            <span jhiTranslate="{{'popApp.AchievementType.' + achievementDefinition.avType}}">{{achievementDefinition.avType}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.achievementDefinition.repeteable">Repeteable</span></dt>
        <dd>
            <span>{{achievementDefinition.repeteable}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.achievementDefinition.hidden">Hidden</span></dt>
        <dd>
            <span>{{achievementDefinition.hidden}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.achievementDefinition.evCode">Ev Code</span></dt>
        <dd>
            <span>{{achievementDefinition.evCode}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.achievementDefinition.evField">Ev Field</span></dt>
        <dd>
            <span>{{achievementDefinition.evField}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.achievementDefinition.stCode">St Code</span></dt>
        <dd>
            <span>{{achievementDefinition.stCode}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.achievementDefinition.lvCode">Lv Code</span></dt>
        <dd>
            <span>{{achievementDefinition.lvCode}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.achievementDefinition.tnCode">Tn Code</span></dt>
        <dd>
            <span>{{achievementDefinition.tnCode}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.achievementDefinition.goalMinValue">Goal Min Value</span></dt>
        <dd>
            <span>{{achievementDefinition.goalMinValue}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.achievementDefinition.goalMaxValue">Goal Max Value</span></dt>
        <dd>
            <span>{{achievementDefinition.goalMaxValue}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.achievementDefinition.goalValue">Goal Value</span></dt>
        <dd>
            <span>{{achievementDefinition.goalValue}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.achievementDefinition.rewardMessage">Reward Message</span></dt>
        <dd>
            <span>{{achievementDefinition.rewardMessage}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.achievementDefinition.rewardXp">Reward Xp</span></dt>
        <dd>
            <span>{{achievementDefinition.rewardXp}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.achievementDefinition.rewardCurrencyCode">Reward Currency Code</span></dt>
        <dd>
            <span>{{achievementDefinition.rewardCurrencyCode}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.achievementDefinition.rewardCurrencyValue">Reward Currency Value</span></dt>
        <dd>
            <span>{{achievementDefinition.rewardCurrencyValue}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.achievementDefinition.rewardCatalogCode">Reward Catalog Code</span></dt>
        <dd>
            <span>{{achievementDefinition.rewardCatalogCode}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.achievementDefinition.game">Game</span></dt>
        <dd>
            <div *ngIf="achievementDefinition.gameId">
                <a [routerLink]="['/game', achievementDefinition.gameId]">{{achievementDefinition.gameTitleId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="popApp.achievementDefinition.goalLevel">Goal Level</span></dt>
        <dd>
            <div *ngIf="achievementDefinition.goalLevelId">
                <a [routerLink]="['/xp-level-definition', achievementDefinition.goalLevelId]">{{achievementDefinition.goalLevelLvCode}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="popApp.achievementDefinition.goalEvent">Goal Event</span></dt>
        <dd>
            <div *ngIf="achievementDefinition.goalEventId">
                <a [routerLink]="['/event-definition', achievementDefinition.goalEventId]">{{achievementDefinition.goalEventEvCode}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="popApp.achievementDefinition.goalStatistic">Goal Statistic</span></dt>
        <dd>
            <div *ngIf="achievementDefinition.goalStatisticId">
                <a [routerLink]="['/statistic-definition', achievementDefinition.goalStatisticId]">{{achievementDefinition.goalStatisticStCode}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="popApp.achievementDefinition.rewardCatalogItem">Reward Catalog Item</span></dt>
        <dd>
            <div *ngIf="achievementDefinition.rewardCatalogItemId">
                <a [routerLink]="['/catalog-item', achievementDefinition.rewardCatalogItemId]">{{achievementDefinition.rewardCatalogItemItemCode}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="popApp.achievementDefinition.goalTournament">Goal Tournament</span></dt>
        <dd>
            <div *ngIf="achievementDefinition.goalTournamentId">
                <a [routerLink]="['/tournament', achievementDefinition.goalTournamentId]">{{achievementDefinition.goalTournamentTnCode}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="popApp.achievementDefinition.feeCurrency">Fee Currency</span></dt>
        <dd>
            <div *ngIf="achievementDefinition.feeCurrencyId">
                <a [routerLink]="['/virtual-currency', achievementDefinition.feeCurrencyId]">{{achievementDefinition.feeCurrencyCurrencyCode}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'achievement-definition/'+ achievementDefinition.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
