<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myAchievementDefinitionLabel" jhiTranslate="popApp.achievementDefinition.home.createOrEditLabel">Create or edit a Achievement Definition</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!achievementDefinition.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="achievementDefinition.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.achievementDefinition.avIconUrl" for="field_avIconUrl">Av Icon Url</label>
            <input type="text" class="form-control" name="avIconUrl" id="field_avIconUrl"
                [(ngModel)]="achievementDefinition.avIconUrl"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.achievementDefinition.avCode" for="field_avCode">Av Code</label>
            <input type="text" class="form-control" name="avCode" id="field_avCode"
                [(ngModel)]="achievementDefinition.avCode"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.achievementDefinition.avNumber" for="field_avNumber">Av Number</label>
            <input type="number" class="form-control" name="avNumber" id="field_avNumber"
                [(ngModel)]="achievementDefinition.avNumber"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.achievementDefinition.avTitle" for="field_avTitle">Av Title</label>
            <input type="text" class="form-control" name="avTitle" id="field_avTitle"
                [(ngModel)]="achievementDefinition.avTitle"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.achievementDefinition.avType" for="field_avType">Av Type</label>
            <select class="form-control" name="avType" [(ngModel)]="achievementDefinition.avType" id="field_avType" >
                <option value="XP_BASE">{{'popApp.AchievementType.XP_BASE' | translate}}</option>
                <option value="LEVEL_BASE">{{'popApp.AchievementType.LEVEL_BASE' | translate}}</option>
                <option value="EVENT_BASE">{{'popApp.AchievementType.EVENT_BASE' | translate}}</option>
                <option value="STATS_BASE">{{'popApp.AchievementType.STATS_BASE' | translate}}</option>
                <option value="TOURNAMENT_BASE">{{'popApp.AchievementType.TOURNAMENT_BASE' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.achievementDefinition.repeteable" for="field_repeteable">Repeteable</label>
            <input type="checkbox" class="form-control" name="repeteable" id="field_repeteable"
                [(ngModel)]="achievementDefinition.repeteable"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.achievementDefinition.hidden" for="field_hidden">Hidden</label>
            <input type="checkbox" class="form-control" name="hidden" id="field_hidden"
                [(ngModel)]="achievementDefinition.hidden"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.achievementDefinition.evCode" for="field_evCode">Ev Code</label>
            <input type="text" class="form-control" name="evCode" id="field_evCode"
                [(ngModel)]="achievementDefinition.evCode"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.achievementDefinition.evField" for="field_evField">Ev Field</label>
            <input type="text" class="form-control" name="evField" id="field_evField"
                [(ngModel)]="achievementDefinition.evField"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.achievementDefinition.stCode" for="field_stCode">St Code</label>
            <input type="text" class="form-control" name="stCode" id="field_stCode"
                [(ngModel)]="achievementDefinition.stCode"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.achievementDefinition.lvCode" for="field_lvCode">Lv Code</label>
            <input type="text" class="form-control" name="lvCode" id="field_lvCode"
                [(ngModel)]="achievementDefinition.lvCode"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.achievementDefinition.tnCode" for="field_tnCode">Tn Code</label>
            <input type="text" class="form-control" name="tnCode" id="field_tnCode"
                [(ngModel)]="achievementDefinition.tnCode"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.achievementDefinition.goalMinValue" for="field_goalMinValue">Goal Min Value</label>
            <input type="number" class="form-control" name="goalMinValue" id="field_goalMinValue"
                [(ngModel)]="achievementDefinition.goalMinValue"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.achievementDefinition.goalMaxValue" for="field_goalMaxValue">Goal Max Value</label>
            <input type="number" class="form-control" name="goalMaxValue" id="field_goalMaxValue"
                [(ngModel)]="achievementDefinition.goalMaxValue"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.achievementDefinition.goalValue" for="field_goalValue">Goal Value</label>
            <input type="number" class="form-control" name="goalValue" id="field_goalValue"
                [(ngModel)]="achievementDefinition.goalValue"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.achievementDefinition.rewardMessage" for="field_rewardMessage">Reward Message</label>
            <input type="text" class="form-control" name="rewardMessage" id="field_rewardMessage"
                [(ngModel)]="achievementDefinition.rewardMessage"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.achievementDefinition.rewardXp" for="field_rewardXp">Reward Xp</label>
            <input type="number" class="form-control" name="rewardXp" id="field_rewardXp"
                [(ngModel)]="achievementDefinition.rewardXp"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.achievementDefinition.rewardCurrencyCode" for="field_rewardCurrencyCode">Reward Currency Code</label>
            <input type="text" class="form-control" name="rewardCurrencyCode" id="field_rewardCurrencyCode"
                [(ngModel)]="achievementDefinition.rewardCurrencyCode"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.achievementDefinition.rewardCurrencyValue" for="field_rewardCurrencyValue">Reward Currency Value</label>
            <input type="text" class="form-control" name="rewardCurrencyValue" id="field_rewardCurrencyValue"
                [(ngModel)]="achievementDefinition.rewardCurrencyValue"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.achievementDefinition.rewardCatalogCode" for="field_rewardCatalogCode">Reward Catalog Code</label>
            <input type="text" class="form-control" name="rewardCatalogCode" id="field_rewardCatalogCode"
                [(ngModel)]="achievementDefinition.rewardCatalogCode"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.achievementDefinition.game" for="field_game">Game</label>
            <select class="form-control" id="field_game" name="game" [(ngModel)]="achievementDefinition.gameId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="gameOption.id" *ngFor="let gameOption of games; trackBy: trackGameById">{{gameOption.titleId}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.achievementDefinition.goalLevel" for="field_goalLevel">Goal Level</label>
            <select class="form-control" id="field_goalLevel" name="goalLevel" [(ngModel)]="achievementDefinition.goalLevelId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="xpLevelDefinitionOption.id" *ngFor="let xpLevelDefinitionOption of xpleveldefinitions; trackBy: trackXpLevelDefinitionById">{{xpLevelDefinitionOption.lvCode}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.achievementDefinition.goalEvent" for="field_goalEvent">Goal Event</label>
            <select class="form-control" id="field_goalEvent" name="goalEvent" [(ngModel)]="achievementDefinition.goalEventId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="eventDefinitionOption.id" *ngFor="let eventDefinitionOption of eventdefinitions; trackBy: trackEventDefinitionById">{{eventDefinitionOption.evCode}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.achievementDefinition.goalStatistic" for="field_goalStatistic">Goal Statistic</label>
            <select class="form-control" id="field_goalStatistic" name="goalStatistic" [(ngModel)]="achievementDefinition.goalStatisticId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="statisticDefinitionOption.id" *ngFor="let statisticDefinitionOption of statisticdefinitions; trackBy: trackStatisticDefinitionById">{{statisticDefinitionOption.stCode}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.achievementDefinition.rewardCatalogItem" for="field_rewardCatalogItem">Reward Catalog Item</label>
            <select class="form-control" id="field_rewardCatalogItem" name="rewardCatalogItem" [(ngModel)]="achievementDefinition.rewardCatalogItemId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="catalogItemOption.id" *ngFor="let catalogItemOption of catalogitems; trackBy: trackCatalogItemById">{{catalogItemOption.itemCode}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.achievementDefinition.goalTournament" for="field_goalTournament">Goal Tournament</label>
            <select class="form-control" id="field_goalTournament" name="goalTournament" [(ngModel)]="achievementDefinition.goalTournamentId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="tournamentOption.id" *ngFor="let tournamentOption of tournaments; trackBy: trackTournamentById">{{tournamentOption.tnCode}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.achievementDefinition.feeCurrency" for="field_feeCurrency">Fee Currency</label>
            <select class="form-control" id="field_feeCurrency" name="feeCurrency" [(ngModel)]="achievementDefinition.feeCurrencyId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="VirtualCurrencyOption.id" *ngFor="let VirtualCurrencyOption of virtualcurrencies; trackBy: trackVirtualCurrencyById">{{VirtualCurrencyOption.currencyCode}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
