<div>
    <h2>
        <span jhiTranslate="popApp.achievementDefinition.home.title">Achievement Definitions</span>
        <button class="btn btn-primary float-right jh-create-entity create-achievement-definition" [routerLink]="['/', { outlets: { popup: ['achievement-definition-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="popApp.achievementDefinition.home.createLabel">
            Create new Achievement Definition
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="achievementDefinitions">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="avIconUrl"><span jhiTranslate="popApp.achievementDefinition.avIconUrl">Av Icon Url</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="avCode"><span jhiTranslate="popApp.achievementDefinition.avCode">Av Code</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="avNumber"><span jhiTranslate="popApp.achievementDefinition.avNumber">Av Number</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="avTitle"><span jhiTranslate="popApp.achievementDefinition.avTitle">Av Title</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="avType"><span jhiTranslate="popApp.achievementDefinition.avType">Av Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="repeteable"><span jhiTranslate="popApp.achievementDefinition.repeteable">Repeteable</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="hidden"><span jhiTranslate="popApp.achievementDefinition.hidden">Hidden</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="evCode"><span jhiTranslate="popApp.achievementDefinition.evCode">Ev Code</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="evField"><span jhiTranslate="popApp.achievementDefinition.evField">Ev Field</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="stCode"><span jhiTranslate="popApp.achievementDefinition.stCode">St Code</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lvCode"><span jhiTranslate="popApp.achievementDefinition.lvCode">Lv Code</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="tnCode"><span jhiTranslate="popApp.achievementDefinition.tnCode">Tn Code</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="goalMinValue"><span jhiTranslate="popApp.achievementDefinition.goalMinValue">Goal Min Value</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="goalMaxValue"><span jhiTranslate="popApp.achievementDefinition.goalMaxValue">Goal Max Value</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="goalValue"><span jhiTranslate="popApp.achievementDefinition.goalValue">Goal Value</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="rewardMessage"><span jhiTranslate="popApp.achievementDefinition.rewardMessage">Reward Message</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="rewardXp"><span jhiTranslate="popApp.achievementDefinition.rewardXp">Reward Xp</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="rewardCurrencyCode"><span jhiTranslate="popApp.achievementDefinition.rewardCurrencyCode">Reward Currency Code</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="rewardCurrencyValue"><span jhiTranslate="popApp.achievementDefinition.rewardCurrencyValue">Reward Currency Value</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="rewardCatalogCode"><span jhiTranslate="popApp.achievementDefinition.rewardCatalogCode">Reward Catalog Code</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="gameTitleId"><span jhiTranslate="popApp.achievementDefinition.game">Game</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="goalLevelLvCode"><span jhiTranslate="popApp.achievementDefinition.goalLevel">Goal Level</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="goalEventEvCode"><span jhiTranslate="popApp.achievementDefinition.goalEvent">Goal Event</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="goalStatisticStCode"><span jhiTranslate="popApp.achievementDefinition.goalStatistic">Goal Statistic</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="rewardCatalogItemItemCode"><span jhiTranslate="popApp.achievementDefinition.rewardCatalogItem">Reward Catalog Item</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="goalTournamentTnCode"><span jhiTranslate="popApp.achievementDefinition.goalTournament">Goal Tournament</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="feeCurrencyCurrencyCode"><span jhiTranslate="popApp.achievementDefinition.feeCurrency">Fee Currency</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let achievementDefinition of achievementDefinitions ;trackBy: trackId">
                <td><a [routerLink]="['../achievement-definition', achievementDefinition.id ]">{{achievementDefinition.id}}</a></td>
                <td>{{achievementDefinition.avIconUrl}}</td>
                <td>{{achievementDefinition.avCode}}</td>
                <td>{{achievementDefinition.avNumber}}</td>
                <td>{{achievementDefinition.avTitle}}</td>
                <td jhiTranslate="{{'popApp.AchievementType.' + achievementDefinition.avType}}">{{achievementDefinition.avType}}</td>
                <td>{{achievementDefinition.repeteable}}</td>
                <td>{{achievementDefinition.hidden}}</td>
                <td>{{achievementDefinition.evCode}}</td>
                <td>{{achievementDefinition.evField}}</td>
                <td>{{achievementDefinition.stCode}}</td>
                <td>{{achievementDefinition.lvCode}}</td>
                <td>{{achievementDefinition.tnCode}}</td>
                <td>{{achievementDefinition.goalMinValue}}</td>
                <td>{{achievementDefinition.goalMaxValue}}</td>
                <td>{{achievementDefinition.goalValue}}</td>
                <td>{{achievementDefinition.rewardMessage}}</td>
                <td>{{achievementDefinition.rewardXp}}</td>
                <td>{{achievementDefinition.rewardCurrencyCode}}</td>
                <td>{{achievementDefinition.rewardCurrencyValue}}</td>
                <td>{{achievementDefinition.rewardCatalogCode}}</td>
                <td>
                    <div *ngIf="achievementDefinition.gameId">
                        <a [routerLink]="['../game', achievementDefinition.gameId  ]" >{{achievementDefinition.gameTitleId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="achievementDefinition.goalLevelId">
                        <a [routerLink]="['../xp-level-definition', achievementDefinition.goalLevelId  ]" >{{achievementDefinition.goalLevelLvCode}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="achievementDefinition.goalEventId">
                        <a [routerLink]="['../event-definition', achievementDefinition.goalEventId  ]" >{{achievementDefinition.goalEventEvCode}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="achievementDefinition.goalStatisticId">
                        <a [routerLink]="['../statistic-definition', achievementDefinition.goalStatisticId  ]" >{{achievementDefinition.goalStatisticStCode}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="achievementDefinition.rewardCatalogItemId">
                        <a [routerLink]="['../catalog-item', achievementDefinition.rewardCatalogItemId  ]" >{{achievementDefinition.rewardCatalogItemItemCode}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="achievementDefinition.goalTournamentId">
                        <a [routerLink]="['../tournament', achievementDefinition.goalTournamentId  ]" >{{achievementDefinition.goalTournamentTnCode}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="achievementDefinition.feeCurrencyId">
                        <a [routerLink]="['../virtual-currency', achievementDefinition.feeCurrencyId  ]" >{{achievementDefinition.feeCurrencyCurrencyCode}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../achievement-definition', achievementDefinition.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'achievement-definition/'+ achievementDefinition.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'achievement-definition/'+ achievementDefinition.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
