<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myDataDefinitionLabel" jhiTranslate="popApp.dataDefinition.home.createOrEditLabel">Create or edit a Data Definition</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!dataDefinition.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="dataDefinition.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.dataDefinition.dataKey" for="field_dataKey">Data Key</label>
            <input type="text" class="form-control" name="dataKey" id="field_dataKey"
                [(ngModel)]="dataDefinition.dataKey" required maxlength="80" pattern="^[_'.@A-Za-z0-9-]*$" />
            <div [hidden]="!(editForm.controls.dataKey?.dirty && editForm.controls.dataKey?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.dataKey?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.dataKey?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 80 }">
                   This field cannot be longer than 80 characters.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.dataKey?.errors?.pattern" jhiTranslate="entity.validation.pattern" translateValues="{ pattern: 'Data Key' }">
                    This field should follow pattern for "Data Key".
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.dataDefinition.defaultValue" for="field_defaultValue">Default Value</label>
            <input type="text" class="form-control" name="defaultValue" id="field_defaultValue"
                [(ngModel)]="dataDefinition.defaultValue" />
            <div [hidden]="!(editForm.controls.defaultValue?.dirty && editForm.controls.defaultValue?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.defaultValue?.errors?.pattern" jhiTranslate="entity.validation.pattern" translateValues="{ pattern: 'Default Value' }">
                    This field should follow pattern for "Default Value".
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.dataDefinition.scope" for="field_scope">Scope</label>
            <select class="form-control" name="scope" [(ngModel)]="dataDefinition.scope" id="field_scope"  required>
                <option value="PUBLIC">{{'popApp.DataScope.PUBLIC' | translate}}</option>
                <option value="PRIVATE">{{'popApp.DataScope.PRIVATE' | translate}}</option>
                <option value="INTERNAL">{{'popApp.DataScope.INTERNAL' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.scope?.dirty && editForm.controls.scope?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.scope?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.dataDefinition.permissions" for="field_permissions">Permissions</label>
            <select class="form-control" name="permissions" [(ngModel)]="dataDefinition.permissions" id="field_permissions"  required>
                <option value="WRITE">{{'popApp.DataPermission.WRITE' | translate}}</option>
                <option value="ONLY_READ">{{'popApp.DataPermission.ONLY_READ' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.permissions?.dirty && editForm.controls.permissions?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.permissions?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.dataDefinition.dataVersion" for="field_dataVersion">Data Version</label>
            <input type="text" class="form-control" name="dataVersion" id="field_dataVersion"
                [(ngModel)]="dataDefinition.dataVersion"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.dataDefinition.createdAt" for="field_createdAt">Created At</label>
            <div class="d-flex">
                <input id="field_createdAt" type="datetime-local" class="form-control" name="createdAt" [(ngModel)]="dataDefinition.createdAt"
                required  />
            </div>
            <div [hidden]="!(editForm.controls.createdAt?.dirty && editForm.controls.createdAt?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.createdAt?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.createdAt?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.dataDefinition.lastModifiedAt" for="field_lastModifiedAt">Last Modified At</label>
            <div class="d-flex">
                <input id="field_lastModifiedAt" type="datetime-local" class="form-control" name="lastModifiedAt" [(ngModel)]="dataDefinition.lastModifiedAt"
                required  />
            </div>
            <div [hidden]="!(editForm.controls.lastModifiedAt?.dirty && editForm.controls.lastModifiedAt?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.lastModifiedAt?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.lastModifiedAt?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.dataDefinition.game" for="field_game">Game</label>
            <select class="form-control" id="field_game" name="game" [(ngModel)]="dataDefinition.gameId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="gameOption.id" *ngFor="let gameOption of games; trackBy: trackGameById">{{gameOption.titleId}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
