<div>
    <h2>
      <span > |-_-| Propiedades Adicionales </span>
        <button class="btn btn-primary float-right jh-create-entity create-data-definition" [routerLink]="['/', { outlets: { popup: ['data-definition-new'] } }]">
            <span class="fa fa-plus"></span>
            <span>
            Crear Propiedad
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="dataDefinitions">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="gameTitleId"><span >Game</span></span></th>
            <th jhiSortBy="dataKey"><span >Codigo</span></span></th>
            <th jhiSortBy="dataVersion"><span >Version</span></th>
            <th jhiSortBy="scope"><span >Scope</span></th>
            <th jhiSortBy="permissions"><span >Permisos</span></th>
            <th jhiSortBy="defaultValue"><span >Default</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let dataDefinition of dataDefinitions ;trackBy: trackId">
                <td><a [routerLink]="['../data-definition', dataDefinition.id ]">{{dataDefinition.id}}</a></td>
                <td>
                    <div *ngIf="dataDefinition.gameId">
                        <a [routerLink]="['../game', dataDefinition.gameId  ]" >{{dataDefinition.gameTitleId}}</a>
                    </div>
                </td>
                <td>{{dataDefinition.dataKey}}</td>
                <td>{{dataDefinition.dataVersion}}</td>
                <td jhiTranslate="{{'popApp.DataScope.' + dataDefinition.scope}}">{{dataDefinition.scope}}</td>
                <td jhiTranslate="{{'popApp.DataPermission.' + dataDefinition.permissions}}">{{dataDefinition.permissions}}</td>
                <td>{{dataDefinition.defaultValue}}</td>
                <td>{{dataDefinition.createdAt | date:'medium'}}</td>
                <td>{{dataDefinition.lastModifiedAt | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'data-definition/'+ dataDefinition.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'data-definition/'+ dataDefinition.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
