<div>
    <h2>
        <span > |~_~| Jugadores</span>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="players">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span ></span><span class="fa fa-sort"></span></th>
            <th jhiSortBy="gameTitleId"><span jhiTranslate="popApp.player.game">Game</span></th>
            <th jhiSortBy="popId"><span jhiTranslate="popApp.player.popId">Pop Id</span></th>
            <th jhiSortBy="deviceId"><span jhiTranslate="popApp.player.deviceId">Device Id</span></th>
            <th jhiSortBy="username"><span jhiTranslate="popApp.player.username">Username</span></th>
            <th jhiSortBy="email"><span jhiTranslate="popApp.player.email">Email</span></th>
            <th jhiSortBy="status"><span jhiTranslate="popApp.player.status">Status</span></th>
            <th jhiSortBy="online"><span jhiTranslate="popApp.player.online">Online</span></th>
            <th jhiSortBy="createdAt"><span >Created_At</span></th>
            <th jhiSortBy="createdAt"><span>Last_Login</span></th>
            <th jhiSortBy="bannedUntilAt"><span>Banned_At</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let player of players ;trackBy: trackId">
                <td><a [routerLink]="['../player', player.id ]">{{player.id}}</a></td>
                <td>
                    <div *ngIf="player.gameId">
                        <a [routerLink]="['../game', player.gameId  ]" >{{player.gameTitleId}}</a>
                    </div>
                </td>
                <td>{{player.popId}}</td>
                <td>{{player.deviceId}}</td>
                <td>{{player.username}}</td>
                <td>{{player.email}}</td>
                <td jhiTranslate="{{'popApp.PlayerStatus.' + player.status}}">{{player.status}}</td>
                <td>{{player.online}}</td>
                <td>{{player.createdAt | date:'medium'}}</td>
                <td>{{player.bannedUntilAt | date:'medium'}}</td>
                <td>{{player.createdAt | date:'medium'}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <!--button type="submit"
                                [routerLink]="['../player', player.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button-->
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'player/'+ player.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'player/'+ player.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
