<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myVirtualCurrencyLabel" jhiTranslate="popApp.virtualCurrency.home.createOrEditLabel">Create or edit a Virtual Currency</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.virtualCurrency.game" for="field_game">Game</label>
            <select class="form-control" id="field_game" name="game" [(ngModel)]="virtualCurrency.gameId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="gameOption.id" *ngFor="let gameOption of games; trackBy: trackGameById">{{gameOption.titleId}}</option>
            </select>
        </div>

        <div class="form-group" [hidden]="!virtualCurrency.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="virtualCurrency.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.virtualCurrency.currencyIconUrl" for="field_currencyIconUrl">Currency Icon Url</label>
            <input type="text" class="form-control" name="currencyIconUrl" id="field_currencyIconUrl" [(ngModel)]="virtualCurrency.currencyIconUrl"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.virtualCurrency.currencyCode" for="field_currencyCode">Currency Code</label>
            <input type="text" class="form-control" name="currencyCode" id="field_currencyCode"
                [(ngModel)]="virtualCurrency.currencyCode" required maxlength="2" pattern="^[_'.@A-Za-z0-9-]*$" />
            <div [hidden]="!(editForm.controls.currencyCode?.dirty && editForm.controls.currencyCode?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.currencyCode?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.currencyCode?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 2 }">
                   This field cannot be longer than 2 characters.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.currencyCode?.errors?.pattern" jhiTranslate="entity.validation.pattern" translateValues="{ pattern: 'Currency Code' }">
                    This field should follow pattern for "Currency Code".
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.virtualCurrency.currencyName" for="field_currencyName">Currency Name</label>
            <input type="text" class="form-control" name="currencyName" id="field_currencyName"
                [(ngModel)]="virtualCurrency.currencyName" required maxlength="80" pattern="^[_'.@A-Za-z0-9-]*$" />
            <div [hidden]="!(editForm.controls.currencyName?.dirty && editForm.controls.currencyName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.currencyName?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.currencyName?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 80 }">
                   This field cannot be longer than 80 characters.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.currencyName?.errors?.pattern" jhiTranslate="entity.validation.pattern" translateValues="{ pattern: 'Currency Name' }">
                    This field should follow pattern for "Currency Name".
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.virtualCurrency.initialDeposit" for="field_initialDeposit">Initial Deposit</label>
            <input type="number" class="form-control" name="initialDeposit" id="field_initialDeposit"
                [(ngModel)]="virtualCurrency.initialDeposit"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.virtualCurrency.rechargeRate" for="field_rechargeRate">Recharge Rate</label>
            <input type="number" class="form-control" name="rechargeRate" id="field_rechargeRate"
                [(ngModel)]="virtualCurrency.rechargeRate"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.virtualCurrency.maxLimit" for="field_maxLimit">Max Limit</label>
            <input type="number" class="form-control" name="maxLimit" id="field_maxLimit"
                [(ngModel)]="virtualCurrency.maxLimit"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.virtualCurrency.currencyRatio" for="field_currencyRatio">Currency Ratio</label>
            <input type="number" class="form-control" name="currencyRatio" id="field_currencyRatio"
                [(ngModel)]="virtualCurrency.currencyRatio"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.virtualCurrency.currencyBase" for="field_currencyBase">Currency Base</label>
            <input type="checkbox" class="form-control" name="currencyBase" id="field_currencyBase"
                [(ngModel)]="virtualCurrency.currencyBase"  />
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
