<div>
    <h2>
        <span jhiTranslate="popApp.virtualCurrency.home.title">Virtual Currencies</span>
        <button class="btn btn-primary float-right jh-create-entity create-virtual-currency" [routerLink]="['/', { outlets: { popup: ['virtual-currency-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="popApp.virtualCurrency.home.createLabel">
            Create new Virtual Currency
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="virtualCurrencies">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="gameTitleId"><span jhiTranslate="popApp.virtualCurrency.game">Game</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="currencyIconUrl"></th>
            <th jhiSortBy="currencyCode"><span jhiTranslate="popApp.virtualCurrency.currencyCode">Currency Code</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="currencyName"><span jhiTranslate="popApp.virtualCurrency.currencyName">Currency Name</span></th>
            <th jhiSortBy="initialDeposit"><span jhiTranslate="popApp.virtualCurrency.initialDeposit">Initial Deposit</span></th>
            <th jhiSortBy="rechargeRate"><span jhiTranslate="popApp.virtualCurrency.rechargeRate">Recharge Rate</span></th>
            <th jhiSortBy="maxLimit"><span jhiTranslate="popApp.virtualCurrency.maxLimit">Max Limit</span></th>
            <th jhiSortBy="currencyRatio"><span jhiTranslate="popApp.virtualCurrency.currencyRatio">Currency Ratio</span></th>
            <th jhiSortBy="currencyBase"><span jhiTranslate="popApp.virtualCurrency.currencyBase">Currency Base</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let virtualCurrency of virtualCurrencies ;trackBy: trackId">
                <td>
                    <div *ngIf="virtualCurrency.gameId">
                        <a [routerLink]="['../game', virtualCurrency.gameId  ]" >{{virtualCurrency.gameTitleId}}</a>
                    </div>
                </td>
                <td><img style="max-width:80px !important;max-height:50px !important;" src="{{virtualCurrency.currencyIconUrl}}"></img></td>
                <td><a [routerLink]="['../virtual-currency', virtualCurrency.id ]">{{virtualCurrency.currencyCode}}</a></td>
                <td>{{virtualCurrency.currencyName}}</td>
                <td>{{virtualCurrency.initialDeposit}}</td>
                <td>{{virtualCurrency.rechargeRate}}</td>
                <td>{{virtualCurrency.maxLimit}}</td>
                <td>{{virtualCurrency.currencyRatio}}</td>
                <td>{{virtualCurrency.currencyBase}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../virtual-currency', virtualCurrency.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'virtual-currency/'+ virtualCurrency.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'virtual-currency/'+ virtualCurrency.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
