<div>
    <h2>
        <span jhiTranslate="popApp.statisticDefinition.home.title">Statistic Definitions</span>
        <button class="btn btn-primary float-right jh-create-entity create-statistic-definition" [routerLink]="['/', { outlets: { popup: ['statistic-definition-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="popApp.statisticDefinition.home.createLabel">
            Create new Statistic Definition
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="statisticDefinitions">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="gameTitleId"><span jhiTranslate="popApp.statisticDefinition.game">Game</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="stCategory"><span jhiTranslate="popApp.statisticDefinition.stCategory">St Category</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="stCode"><span jhiTranslate="popApp.statisticDefinition.stCode">St Code</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="stName"><span jhiTranslate="popApp.statisticDefinition.stName">St Name</span></th>
            <th jhiSortBy="stDescription"><span jhiTranslate="popApp.statisticDefinition.stDescription">St Description</span></th>
            <th jhiSortBy="stInitialValue"><span jhiTranslate="popApp.statisticDefinition.stInitialValue">St Initial Value</span></th>
            <th jhiSortBy="stMinValue"><span jhiTranslate="popApp.statisticDefinition.stMinValue">St Min Value</span></th>
            <th jhiSortBy="stMaxValue"><span jhiTranslate="popApp.statisticDefinition.stMaxValue">St Max Value</span></th>
            <th jhiSortBy="stVariable"><span jhiTranslate="popApp.statisticDefinition.stVariable">Variable</span></th>
            <th jhiSortBy="aggregationMethod"><span jhiTranslate="popApp.statisticDefinition.aggregationMethod">Aggregation Method</span></th>
            <th jhiSortBy="resetFrequency"><span jhiTranslate="popApp.statisticDefinition.resetFrequency">Reset Frequency</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let statisticDefinition of statisticDefinitions ;trackBy: trackId">
                <td>
                    <div *ngIf="statisticDefinition.gameId">
                        <a [routerLink]="['../game', statisticDefinition.gameId  ]" >{{statisticDefinition.gameTitleId}}</a>
                    </div>
                </td>
                <td jhiTranslate="{{'popApp.StatisticCategory.' + statisticDefinition.stCategory}}">{{statisticDefinition.stCategory}}</td>
                <td><a [routerLink]="['../statistic-definition', statisticDefinition.id ]">{{statisticDefinition.stCode}}</a></td>
                <td>{{statisticDefinition.stName}}</td>
                <td>{{statisticDefinition.stDescription}}</td>
                <td>{{statisticDefinition.stInitialValue}}</td>
                <td>{{statisticDefinition.stMinValue}}</td>
                <td>{{statisticDefinition.stMaxValue}}</td>
                <td>{{statisticDefinition.stVariable}}</td>
                <td jhiTranslate="{{'popApp.AggregationMethod.' + statisticDefinition.aggregationMethod}}">{{statisticDefinition.aggregationMethod}}</td>
                <td jhiTranslate="{{'popApp.ResetFrequency.' + statisticDefinition.resetFrequency}}">{{statisticDefinition.resetFrequency}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../statistic-definition', statisticDefinition.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'statistic-definition/'+ statisticDefinition.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'statistic-definition/'+ statisticDefinition.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
