
<div *ngIf="statisticDefinition">
    <h2><span jhiTranslate="popApp.statisticDefinition.detail.title">Statistic Definition</span> {{statisticDefinition.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="popApp.statisticDefinition.stCode">St Code</span></dt>
        <dd>
            <span>{{statisticDefinition.stCode}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.statisticDefinition.stName">St Name</span></dt>
        <dd>
            <span>{{statisticDefinition.stName}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.statisticDefinition.stDescription">St Description</span></dt>
        <dd>
            <span>{{statisticDefinition.stDescription}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.statisticDefinition.stMinValue">St Min Value</span></dt>
        <dd>
            <span>{{statisticDefinition.stMinValue}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.statisticDefinition.stMaxValue">St Max Value</span></dt>
        <dd>
            <span>{{statisticDefinition.stMaxValue}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.statisticDefinition.stInitialValue">St Initial Value</span></dt>
        <dd>
            <span>{{statisticDefinition.stInitialValue}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.statisticDefinition.stVariable">St Variable</span></dt>
        <dd>
            <span>{{statisticDefinition.stVariable}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.statisticDefinition.stCategory">St Category</span></dt>
        <dd>
            <span jhiTranslate="{{'popApp.StatisticCategory.' + statisticDefinition.stCategory}}">{{statisticDefinition.stCategory}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.statisticDefinition.aggregationMethod">Aggregation Method</span></dt>
        <dd>
            <span jhiTranslate="{{'popApp.AggregationMethod.' + statisticDefinition.aggregationMethod}}">{{statisticDefinition.aggregationMethod}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.statisticDefinition.resetFrequency">Reset Frequency</span></dt>
        <dd>
            <span jhiTranslate="{{'popApp.ResetFrequency.' + statisticDefinition.resetFrequency}}">{{statisticDefinition.resetFrequency}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.statisticDefinition.game">Game</span></dt>
        <dd>
            <div *ngIf="statisticDefinition.gameId">
                <a [routerLink]="['/game', statisticDefinition.gameId]">{{statisticDefinition.gameTitleId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'statistic-definition/'+ statisticDefinition.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
