<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myXpLevelDefinitionLabel" jhiTranslate="popApp.xpLevelDefinition.home.createOrEditLabel">Create or edit a Xp Level Definition</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!xpLevelDefinition.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="xpLevelDefinition.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.xpLevelDefinition.lvIconUrl" for="field_lvIconUrl">Lv Icon Url</label>
            <input type="text" class="form-control" name="lvIconUrl" id="field_lvIconUrl"
                [(ngModel)]="xpLevelDefinition.lvIconUrl"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.xpLevelDefinition.lvCode" for="field_lvCode">Lv Code</label>
            <input type="text" class="form-control" name="lvCode" id="field_lvCode"
                [(ngModel)]="xpLevelDefinition.lvCode"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.xpLevelDefinition.lvNumber" for="field_lvNumber">Lv Number</label>
            <input type="number" class="form-control" name="lvNumber" id="field_lvNumber"
                [(ngModel)]="xpLevelDefinition.lvNumber"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.xpLevelDefinition.xpBase" for="field_xpBase">Xp Base</label>
            <input type="number" class="form-control" name="xpBase" id="field_xpBase"
                [(ngModel)]="xpLevelDefinition.xpBase" required />
            <div [hidden]="!(editForm.controls.xpBase?.dirty && editForm.controls.xpBase?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.xpBase?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.xpBase?.errors?.number" jhiTranslate="entity.validation.number">
                    This field should be a number.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.xpLevelDefinition.lvDescription" for="field_lvDescription">Lv Description</label>
            <input type="text" class="form-control" name="lvDescription" id="field_lvDescription"
                [(ngModel)]="xpLevelDefinition.lvDescription"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.xpLevelDefinition.bonusData" for="field_bonusData">Bonus Data</label>
            <input type="text" class="form-control" name="bonusData" id="field_bonusData"
                [(ngModel)]="xpLevelDefinition.bonusData"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.xpLevelDefinition.increaseData" for="field_increaseData">Increase Data</label>
            <input type="text" class="form-control" name="increaseData" id="field_increaseData"
                [(ngModel)]="xpLevelDefinition.increaseData"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.xpLevelDefinition.neededData" for="field_neededData">Needed Data</label>
            <input type="text" class="form-control" name="neededData" id="field_neededData"
                [(ngModel)]="xpLevelDefinition.neededData"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.xpLevelDefinition.contentUnlocked" for="field_contentUnlocked">Content Unlocked</label>
            <input type="text" class="form-control" name="contentUnlocked" id="field_contentUnlocked"
                [(ngModel)]="xpLevelDefinition.contentUnlocked"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.xpLevelDefinition.gameModeUnlocked" for="field_gameModeUnlocked">Game Mode Unlocked</label>
            <input type="text" class="form-control" name="gameModeUnlocked" id="field_gameModeUnlocked"
                [(ngModel)]="xpLevelDefinition.gameModeUnlocked"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.xpLevelDefinition.game" for="field_game">Game</label>
            <select class="form-control" id="field_game" name="game" [(ngModel)]="xpLevelDefinition.gameId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="gameOption.id" *ngFor="let gameOption of games; trackBy: trackGameById">{{gameOption.titleId}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
