
<div *ngIf="xpLevelDefinition">
    <h2><span jhiTranslate="popApp.xpLevelDefinition.detail.title">Xp Level Definition</span> {{xpLevelDefinition.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="popApp.xpLevelDefinition.lvIconUrl">Lv Icon Url</span></dt>
        <dd>
            <span>{{xpLevelDefinition.lvIconUrl}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.xpLevelDefinition.lvCode">Lv Code</span></dt>
        <dd>
            <span>{{xpLevelDefinition.lvCode}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.xpLevelDefinition.lvNumber">Lv Number</span></dt>
        <dd>
            <span>{{xpLevelDefinition.lvNumber}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.xpLevelDefinition.xpBase">Xp Base</span></dt>
        <dd>
            <span>{{xpLevelDefinition.xpBase}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.xpLevelDefinition.lvDescription">Lv Description</span></dt>
        <dd>
            <span>{{xpLevelDefinition.lvDescription}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.xpLevelDefinition.bonusData">Bonus Data</span></dt>
        <dd>
            <span>{{xpLevelDefinition.bonusData}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.xpLevelDefinition.increaseData">Increase Data</span></dt>
        <dd>
            <span>{{xpLevelDefinition.increaseData}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.xpLevelDefinition.neededData">Needed Data</span></dt>
        <dd>
            <span>{{xpLevelDefinition.neededData}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.xpLevelDefinition.contentUnlocked">Content Unlocked</span></dt>
        <dd>
            <span>{{xpLevelDefinition.contentUnlocked}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.xpLevelDefinition.gameModeUnlocked">Game Mode Unlocked</span></dt>
        <dd>
            <span>{{xpLevelDefinition.gameModeUnlocked}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.xpLevelDefinition.game">Game</span></dt>
        <dd>
            <div *ngIf="xpLevelDefinition.gameId">
                <a [routerLink]="['/game', xpLevelDefinition.gameId]">{{xpLevelDefinition.gameTitleId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'xp-level-definition/'+ xpLevelDefinition.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
