<div>
    <h2>
        <span jhiTranslate="popApp.globalData.home.title">Global Data</span>
        <button class="btn btn-primary float-right jh-create-entity create-global-data" [routerLink]="['/', { outlets: { popup: ['global-data-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="popApp.globalData.home.createLabel">
            Create new Global Data
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="globalData">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="gameTitleId"><span jhiTranslate="popApp.globalData.game">Game</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="dataKey"><span jhiTranslate="popApp.globalData.dataKey">Data Key</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="dataVersion"><span jhiTranslate="popApp.globalData.dataVersion">Data Version</span></th>
            <th jhiSortBy="scope"><span jhiTranslate="popApp.globalData.scope">Scope</span></th>
            <th jhiSortBy="permissions"><span jhiTranslate="popApp.globalData.permissions">Permissions</span></span></th>
            <th jhiSortBy="defaultValue"><span jhiTranslate="popApp.globalData.defaultValue">Default Value</span></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let globalData of globalData ;trackBy: trackId">
                <td><a [routerLink]="['../global-data', globalData.id ]">{{globalData.id}}</a></td>
                <td>
                    <div *ngIf="globalData.gameId">
                        <a [routerLink]="['../game', globalData.gameId  ]" >{{globalData.gameTitleId}}</a>
                    </div>
                </td>
                <td>{{globalData.dataKey}}</td>
                <td>{{globalData.dataVersion}}</td>
                <td jhiTranslate="{{'popApp.DataScope.' + globalData.scope}}">{{globalData.scope}}</td>
                <td jhiTranslate="{{'popApp.DataPermission.' + globalData.permissions}}">{{globalData.permissions}}</td>
                <td>{{globalData.defaultValue}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../global-data', globalData.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'global-data/'+ globalData.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'global-data/'+ globalData.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
