<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myTournamentLabel" jhiTranslate="popApp.tournament.home.createOrEditLabel">Create or edit a Tournament</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!tournament.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="tournament.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.tournament.tnIconUrl" for="field_tnIconUrl">Tn Icon Url</label>
            <input type="text" class="form-control" name="tnIconUrl" id="field_tnIconUrl"
                [(ngModel)]="tournament.tnIconUrl"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.tournament.tnCode" for="field_tnCode">Tn Code</label>
            <input type="text" class="form-control" name="tnCode" id="field_tnCode"
                [(ngModel)]="tournament.tnCode"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.tournament.tnTitle" for="field_tnTitle">Tn Title</label>
            <input type="text" class="form-control" name="tnTitle" id="field_tnTitle"
                [(ngModel)]="tournament.tnTitle"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.tournament.tnType" for="field_tnType">Tn Type</label>
            <select class="form-control" name="tnType" [(ngModel)]="tournament.tnType" id="field_tnType" >
                <option value="PRIVATE">{{'popApp.TournamentType.PRIVATE' | translate}}</option>
                <option value="LEADERBOARD">{{'popApp.TournamentType.LEADERBOARD' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.tournament.joinType" for="field_joinType">Join Type</label>
            <select class="form-control" name="joinType" [(ngModel)]="tournament.joinType" id="field_joinType" >
                <option value="FREE">{{'popApp.TournamentJoinType.FREE' | translate}}</option>
                <option value="PAID">{{'popApp.TournamentJoinType.PAID' | translate}}</option>
                <option value="AUTOMATIC">{{'popApp.TournamentJoinType.AUTOMATIC' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.tournament.reseteable" for="field_reseteable">Reseteable</label>
            <input type="checkbox" class="form-control" name="reseteable" id="field_reseteable"
                [(ngModel)]="tournament.reseteable"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.tournament.resetFrecuency" for="field_resetFrecuency">Reset Frecuency</label>
            <select class="form-control" name="resetFrecuency" [(ngModel)]="tournament.resetFrecuency" id="field_resetFrecuency" >
                <option value="MANUALLY">{{'popApp.ResetFrecuency.MANUALLY' | translate}}</option>
                <option value="HOURLY">{{'popApp.ResetFrecuency.HOURLY' | translate}}</option>
                <option value="DAILY">{{'popApp.ResetFrecuency.DAILY' | translate}}</option>
                <option value="WEEKLY">{{'popApp.ResetFrecuency.WEEKLY' | translate}}</option>
                <option value="MONTHLY">{{'popApp.ResetFrecuency.MONTHLY' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.tournament.refreshFrecuency" for="field_refreshFrecuency">Refresh Frecuency</label>
            <select class="form-control" name="refreshFrecuency" [(ngModel)]="tournament.refreshFrecuency" id="field_refreshFrecuency" >
                <option value="MANUALLY">{{'popApp.Frecuency.MANUALLY' | translate}}</option>
                <option value="HOURLY">{{'popApp.Frecuency.HOURLY' | translate}}</option>
                <option value="DAILY">{{'popApp.Frecuency.DAILY' | translate}}</option>
                <option value="WEEKLY">{{'popApp.Frecuency.WEEKLY' | translate}}</option>
                <option value="MONTHLY">{{'popApp.Frecuency.MONTHLY' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.tournament.notificationFrecuency" for="field_notificationFrecuency">Notification Frecuency</label>
            <select class="form-control" name="notificationFrecuency" [(ngModel)]="tournament.notificationFrecuency" id="field_notificationFrecuency" >
                <option value="MANUALLY">{{'popApp.Frecuency.MANUALLY' | translate}}</option>
                <option value="HOURLY">{{'popApp.Frecuency.HOURLY' | translate}}</option>
                <option value="DAILY">{{'popApp.Frecuency.DAILY' | translate}}</option>
                <option value="WEEKLY">{{'popApp.Frecuency.WEEKLY' | translate}}</option>
                <option value="MONTHLY">{{'popApp.Frecuency.MONTHLY' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.tournament.stCode" for="field_stCode">St Code</label>
            <input type="text" class="form-control" name="stCode" id="field_stCode"
                [(ngModel)]="tournament.stCode"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.tournament.lvCode" for="field_lvCode">Lv Code</label>
            <input type="text" class="form-control" name="lvCode" id="field_lvCode"
                [(ngModel)]="tournament.lvCode"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.tournament.limitValue" for="field_limitValue">Limit Value</label>
            <input type="number" class="form-control" name="limitValue" id="field_limitValue"
                [(ngModel)]="tournament.limitValue"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.tournament.feeCurrencyCode" for="field_feeCurrencyCode">Fee Currency Code</label>
            <input type="text" class="form-control" name="feeCurrencyCode" id="field_feeCurrencyCode"
                [(ngModel)]="tournament.feeCurrencyCode"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.tournament.feeCurrencyValue" for="field_feeCurrencyValue">Fee Currency Value</label>
            <input type="text" class="form-control" name="feeCurrencyValue" id="field_feeCurrencyValue"
                [(ngModel)]="tournament.feeCurrencyValue"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.tournament.startedAt" for="field_startedAt">Started At</label>
            <div class="d-flex">
                <input id="field_startedAt" type="datetime-local" class="form-control" name="startedAt" [(ngModel)]="tournament.startedAt"
                required  />
            </div>
            <div [hidden]="!(editForm.controls.startedAt?.dirty && editForm.controls.startedAt?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.startedAt?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.startedAt?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.tournament.iteration" for="field_iteration">Iteration</label>
            <input type="number" class="form-control" name="iteration" id="field_iteration"
                [(ngModel)]="tournament.iteration"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.tournament.duration" for="field_duration">Duration</label>
            <input type="number" class="form-control" name="duration" id="field_duration"
                [(ngModel)]="tournament.duration"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.tournament.status" for="field_status">Status</label>
            <select class="form-control" name="status" [(ngModel)]="tournament.status" id="field_status"  required>
                <option value="DRAFT">{{'popApp.TournamentStatus.DRAFT' | translate}}</option>
                <option value="ACTIVE">{{'popApp.TournamentStatus.ACTIVE' | translate}}</option>
                <option value="CLOSED">{{'popApp.TournamentStatus.CLOSED' | translate}}</option>
            </select>
            <div [hidden]="!(editForm.controls.status?.dirty && editForm.controls.status?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.status?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.tournament.game" for="field_game">Game</label>
            <select class="form-control" id="field_game" name="game" [(ngModel)]="tournament.gameId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="gameOption.id" *ngFor="let gameOption of games; trackBy: trackGameById">{{gameOption.titleId}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.tournament.reqXpLevel" for="field_reqXpLevel">Req Xp Level</label>
            <select class="form-control" id="field_reqXpLevel" name="reqXpLevel" [(ngModel)]="tournament.reqXpLevelId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="xpLevelDefinitionOption.id" *ngFor="let xpLevelDefinitionOption of xpleveldefinitions; trackBy: trackXpLevelDefinitionById">{{xpLevelDefinitionOption.lvCode}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.tournament.goalEvent" for="field_goalEvent">Goal Event</label>
            <select class="form-control" id="field_goalEvent" name="goalEvent" [(ngModel)]="tournament.goalEventId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="eventDefinitionOption.id" *ngFor="let eventDefinitionOption of eventdefinitions; trackBy: trackEventDefinitionById">{{eventDefinitionOption.evCode}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.tournament.goalStatistic" for="field_goalStatistic">Goal Statistic</label>
            <select class="form-control" id="field_goalStatistic" name="goalStatistic" [(ngModel)]="tournament.goalStatisticId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="statisticDefinitionOption.id" *ngFor="let statisticDefinitionOption of statisticdefinitions; trackBy: trackStatisticDefinitionById">{{statisticDefinitionOption.stCode}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.tournament.feeCurrency" for="field_feeCurrency">Fee Currency</label>
            <select class="form-control" id="field_feeCurrency" name="feeCurrency" [(ngModel)]="tournament.feeCurrencyId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="VirtualCurrencyOption.id" *ngFor="let VirtualCurrencyOption of virtualcurrencies; trackBy: trackVirtualCurrencyById">{{VirtualCurrencyOption.currencyCode}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
