<div>
    <h2>
        <span jhiTranslate="popApp.tournament.home.title">Tournaments</span>
        <button class="btn btn-primary float-right jh-create-entity create-tournament" [routerLink]="['/', { outlets: { popup: ['tournament-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="popApp.tournament.home.createLabel">
            Create new Tournament
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="tournaments">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="tnIconUrl"><span jhiTranslate="popApp.tournament.tnIconUrl">Tn Icon Url</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="tnCode"><span jhiTranslate="popApp.tournament.tnCode">Tn Code</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="tnTitle"><span jhiTranslate="popApp.tournament.tnTitle">Tn Title</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="tnType"><span jhiTranslate="popApp.tournament.tnType">Tn Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="joinType"><span jhiTranslate="popApp.tournament.joinType">Join Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="reseteable"><span jhiTranslate="popApp.tournament.reseteable">Reseteable</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="resetFrecuency"><span jhiTranslate="popApp.tournament.resetFrecuency">Reset Frecuency</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="refreshFrecuency"><span jhiTranslate="popApp.tournament.refreshFrecuency">Refresh Frecuency</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="notificationFrecuency"><span jhiTranslate="popApp.tournament.notificationFrecuency">Notification Frecuency</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="stCode"><span jhiTranslate="popApp.tournament.stCode">St Code</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="lvCode"><span jhiTranslate="popApp.tournament.lvCode">Lv Code</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="limitValue"><span jhiTranslate="popApp.tournament.limitValue">Limit Value</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="feeCurrencyCode"><span jhiTranslate="popApp.tournament.feeCurrencyCode">Fee Currency Code</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="feeCurrencyValue"><span jhiTranslate="popApp.tournament.feeCurrencyValue">Fee Currency Value</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="startedAt"><span jhiTranslate="popApp.tournament.startedAt">Started At</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="iteration"><span jhiTranslate="popApp.tournament.iteration">Iteration</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="duration"><span jhiTranslate="popApp.tournament.duration">Duration</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="status"><span jhiTranslate="popApp.tournament.status">Status</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="gameTitleId"><span jhiTranslate="popApp.tournament.game">Game</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="reqXpLevelLvCode"><span jhiTranslate="popApp.tournament.reqXpLevel">Req Xp Level</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="goalEventEvCode"><span jhiTranslate="popApp.tournament.goalEvent">Goal Event</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="goalStatisticStCode"><span jhiTranslate="popApp.tournament.goalStatistic">Goal Statistic</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="feeCurrencyCurrencyCode"><span jhiTranslate="popApp.tournament.feeCurrency">Fee Currency</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let tournament of tournaments ;trackBy: trackId">
                <td><a [routerLink]="['../tournament', tournament.id ]">{{tournament.id}}</a></td>
                <td>{{tournament.tnIconUrl}}</td>
                <td>{{tournament.tnCode}}</td>
                <td>{{tournament.tnTitle}}</td>
                <td jhiTranslate="{{'popApp.TournamentType.' + tournament.tnType}}">{{tournament.tnType}}</td>
                <td jhiTranslate="{{'popApp.TournamentJoinType.' + tournament.joinType}}">{{tournament.joinType}}</td>
                <td>{{tournament.reseteable}}</td>
                <td jhiTranslate="{{'popApp.ResetFrecuency.' + tournament.resetFrecuency}}">{{tournament.resetFrecuency}}</td>
                <td jhiTranslate="{{'popApp.Frecuency.' + tournament.refreshFrecuency}}">{{tournament.refreshFrecuency}}</td>
                <td jhiTranslate="{{'popApp.Frecuency.' + tournament.notificationFrecuency}}">{{tournament.notificationFrecuency}}</td>
                <td>{{tournament.stCode}}</td>
                <td>{{tournament.lvCode}}</td>
                <td>{{tournament.limitValue}}</td>
                <td>{{tournament.feeCurrencyCode}}</td>
                <td>{{tournament.feeCurrencyValue}}</td>
                <td>{{tournament.startedAt | date:'medium'}}</td>
                <td>{{tournament.iteration}}</td>
                <td>{{tournament.duration}}</td>
                <td jhiTranslate="{{'popApp.TournamentStatus.' + tournament.status}}">{{tournament.status}}</td>
                <td>
                    <div *ngIf="tournament.gameId">
                        <a [routerLink]="['../game', tournament.gameId  ]" >{{tournament.gameTitleId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="tournament.reqXpLevelId">
                        <a [routerLink]="['../xp-level-definition', tournament.reqXpLevelId  ]" >{{tournament.reqXpLevelLvCode}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="tournament.goalEventId">
                        <a [routerLink]="['../event-definition', tournament.goalEventId  ]" >{{tournament.goalEventEvCode}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="tournament.goalStatisticId">
                        <a [routerLink]="['../statistic-definition', tournament.goalStatisticId  ]" >{{tournament.goalStatisticStCode}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="tournament.feeCurrencyId">
                        <a [routerLink]="['../virtual-currency', tournament.feeCurrencyId  ]" >{{tournament.feeCurrencyCurrencyCode}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../tournament', tournament.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tournament/'+ tournament.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'tournament/'+ tournament.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
