<div>
    <h2>
        <span jhiTranslate="popApp.gameStatistic.home.title">Game Statistics</span>
        <button class="btn btn-primary float-right jh-create-entity create-game-statistic" [routerLink]="['/', { outlets: { popup: ['game-statistic-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="popApp.gameStatistic.home.createLabel">
            Create new Game Statistic
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="gameStatistics">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="stCode"><span jhiTranslate="popApp.gameStatistic.stCode">St Code</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="stName"><span jhiTranslate="popApp.gameStatistic.stName">St Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="stDescription"><span jhiTranslate="popApp.gameStatistic.stDescription">St Description</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="stMinValue"><span jhiTranslate="popApp.gameStatistic.stMinValue">St Min Value</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="stMaxValue"><span jhiTranslate="popApp.gameStatistic.stMaxValue">St Max Value</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="stInitialValue"><span jhiTranslate="popApp.gameStatistic.stInitialValue">St Initial Value</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="stMaxValue"><span jhiTranslate="popApp.gameStatistic.stMaxValue">St Max Value</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="stCategory"><span jhiTranslate="popApp.gameStatistic.stCategory">St Category</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="aggregationMethod"><span jhiTranslate="popApp.gameStatistic.aggregationMethod">Aggregation Method</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="resetFrequency"><span jhiTranslate="popApp.gameStatistic.resetFrequency">Reset Frequency</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="gameTitleId"><span jhiTranslate="popApp.gameStatistic.game">Game</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let gameStatistic of gameStatistics ;trackBy: trackId">
                <td><a [routerLink]="['../game-statistic', gameStatistic.id ]">{{gameStatistic.id}}</a></td>
                <td>{{gameStatistic.stCode}}</td>
                <td>{{gameStatistic.stName}}</td>
                <td>{{gameStatistic.stDescription}}</td>
                <td>{{gameStatistic.stMinValue}}</td>
                <td>{{gameStatistic.stMaxValue}}</td>
                <td>{{gameStatistic.stInitialValue}}</td>
                <td>{{gameStatistic.stMaxValue}}</td>
                <td jhiTranslate="{{'popApp.StatisticCategory.' + gameStatistic.stCategory}}">{{gameStatistic.stCategory}}</td>
                <td jhiTranslate="{{'popApp.AggregationMethod.' + gameStatistic.aggregationMethod}}">{{gameStatistic.aggregationMethod}}</td>
                <td jhiTranslate="{{'popApp.ResetFrequency.' + gameStatistic.resetFrequency}}">{{gameStatistic.resetFrequency}}</td>
                <td>
                    <div *ngIf="gameStatistic.gameId">
                        <a [routerLink]="['../game', gameStatistic.gameId  ]" >{{gameStatistic.gameTitleId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../game-statistic', gameStatistic.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'game-statistic/'+ gameStatistic.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'game-statistic/'+ gameStatistic.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
