
<div *ngIf="gameStatistic">
    <h2><span jhiTranslate="popApp.gameStatistic.detail.title">Game Statistic</span> {{gameStatistic.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="popApp.gameStatistic.stCode">St Code</span></dt>
        <dd>
            <span>{{gameStatistic.stCode}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.gameStatistic.stName">St Name</span></dt>
        <dd>
            <span>{{gameStatistic.stName}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.gameStatistic.stDescription">St Description</span></dt>
        <dd>
            <span>{{gameStatistic.stDescription}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.gameStatistic.stMinValue">St Min Value</span></dt>
        <dd>
            <span>{{gameStatistic.stMinValue}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.gameStatistic.stMaxValue">St Max Value</span></dt>
        <dd>
            <span>{{gameStatistic.stMaxValue}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.gameStatistic.stInitialValue">St Initial Value</span></dt>
        <dd>
            <span>{{gameStatistic.stInitialValue}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.gameStatistic.stMaxValue">St Max Value</span></dt>
        <dd>
            <span>{{gameStatistic.stMaxValue}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.gameStatistic.stCategory">St Category</span></dt>
        <dd>
            <span jhiTranslate="{{'popApp.StatisticCategory.' + gameStatistic.stCategory}}">{{gameStatistic.stCategory}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.gameStatistic.aggregationMethod">Aggregation Method</span></dt>
        <dd>
            <span jhiTranslate="{{'popApp.AggregationMethod.' + gameStatistic.aggregationMethod}}">{{gameStatistic.aggregationMethod}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.gameStatistic.resetFrequency">Reset Frequency</span></dt>
        <dd>
            <span jhiTranslate="{{'popApp.ResetFrequency.' + gameStatistic.resetFrequency}}">{{gameStatistic.resetFrequency}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.gameStatistic.game">Game</span></dt>
        <dd>
            <div *ngIf="gameStatistic.gameId">
                <a [routerLink]="['/game', gameStatistic.gameId]">{{gameStatistic.gameTitleId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'game-statistic/'+ gameStatistic.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
