<div>
    <h2>
        <span jhiTranslate="popApp.catalogItem.home.title">Catalog Items</span>
        <button class="btn btn-primary float-right jh-create-entity create-catalog-item" [routerLink]="['/', { outlets: { popup: ['catalog-item-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="popApp.catalogItem.home.createLabel">
            Create new Catalog Item
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="catalogItems">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="gameTitleId"><span jhiTranslate="popApp.catalogItem.game">Game</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="itemImageUrl"><span></span></th>
            <th jhiSortBy="itemCode"><span jhiTranslate="popApp.catalogItem.itemCode">Item Code</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="displayName"><span jhiTranslate="popApp.catalogItem.displayName">Display Name</span></th>
            <th jhiSortBy="itemStatus"><span></span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="itemClass"><span jhiTranslate="popApp.catalogItem.itemClass">Tipo</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="consumable"><span jhiTranslate="popApp.catalogItem.consumable">Consumable</span></th>
            <th jhiSortBy="Stackable"><span jhiTranslate="popApp.catalogItem.Stackable">Stackable</span></th>
            <th jhiSortBy="Tradable"><span jhiTranslate="popApp.catalogItem.Tradable">Tradable</span></th>
            <th jhiSortBy="Limited"><span jhiTranslate="popApp.catalogItem.Limited">Limited</span></th>
            <th jhiSortBy="priceAmount"><span jhiTranslate="popApp.catalogItem.priceAmount">Price Amount</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let catalogItem of catalogItems ;trackBy: trackId">
                <td>
                    <div *ngIf="catalogItem.gameId">
                        <a [routerLink]="['../game', catalogItem.gameId  ]" >{{catalogItem.gameTitleId}}</a>
                    </div>
                </td>
                <td><img style="max-width:80px !important;max-height:50px !important;" src="{{catalogItem.itemImageUrl}}"></img></td>
                <td><a [routerLink]="['../catalog-item', catalogItem.id ]">{{catalogItem.itemCode}}</a></td>
                <td>{{catalogItem.displayName}}</td>
                <td jhiTranslate="{{'popApp.CatogItemStatus.' + catalogItem.itemStatus}}">{{catalogItem.itemStatus}}</td>
                <td jhiTranslate="{{'popApp.CatalogItemClass.' + catalogItem.itemClass}}">{{catalogItem.itemClass}}</td>
                <td jhiTranslate="{{'popApp.ConsumableType.' + catalogItem.consumable}}">{{catalogItem.consumable}}</td>
                <td>{{catalogItem.Stackable}}</td>
                <td>{{catalogItem.Tradable}}</td>
                <td>{{catalogItem.Limited}}</td>
                <td>{{catalogItem.priceAmount}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../catalog-item', catalogItem.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'catalog-item/'+ catalogItem.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'catalog-item/'+ catalogItem.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
