
<div *ngIf="catalogItem">
    <h2><span jhiTranslate="popApp.catalogItem.detail.title">Catalog Item</span> {{catalogItem.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="popApp.catalogItem.itemCode">Item Code</span></dt>
        <dd>
            <span>{{catalogItem.itemCode}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.catalogItem.displayName">Display Name</span></dt>
        <dd>
            <span>{{catalogItem.displayName}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.catalogItem.description">Description</span></dt>
        <dd>
            <span>{{catalogItem.description}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.catalogItem.options">Options</span></dt>
        <dd>
            <span>{{catalogItem.options}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.catalogItem.metafields">Metafields</span></dt>
        <dd>
            <span>{{catalogItem.metafields}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.catalogItem.itemStatus">Item Status</span></dt>
        <dd>
            <span jhiTranslate="{{'popApp.CatogItemStatus.' + catalogItem.itemStatus}}">{{catalogItem.itemStatus}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.catalogItem.variants">Variants</span></dt>
        <dd>
            <span>{{catalogItem.variants}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.catalogItem.customData">Custom Data</span></dt>
        <dd>
            <span>{{catalogItem.customData}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.catalogItem.itemImageUrl">Item Image Url</span></dt>
        <dd>
            <span>{{catalogItem.itemImageUrl}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.catalogItem.itemClass">Item Class</span></dt>
        <dd>
            <span jhiTranslate="{{'popApp.CatalogItemClass.' + catalogItem.itemClass}}">{{catalogItem.itemClass}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.catalogItem.tags">Tags</span></dt>
        <dd>
            <span>{{catalogItem.tags}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.catalogItem.consumable">Consumable</span></dt>
        <dd>
            <span jhiTranslate="{{'popApp.ConsumableType.' + catalogItem.consumable}}">{{catalogItem.consumable}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.catalogItem.consumableCount">Consumable Count</span></dt>
        <dd>
            <span>{{catalogItem.consumableCount}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.catalogItem.consumableTime">Consumable Time</span></dt>
        <dd>
            <span>{{catalogItem.consumableTime}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.catalogItem.Stackable">Stackable</span></dt>
        <dd>
            <span>{{catalogItem.Stackable}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.catalogItem.Tradable">Tradable</span></dt>
        <dd>
            <span>{{catalogItem.Tradable}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.catalogItem.Limited">Limited</span></dt>
        <dd>
            <span>{{catalogItem.Limited}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.catalogItem.LimitedCount">Limited Count</span></dt>
        <dd>
            <span>{{catalogItem.LimitedCount}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.catalogItem.priceAmount">Price Amount</span></dt>
        <dd>
            <span>{{catalogItem.priceAmount}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.catalogItem.game">Game</span></dt>
        <dd>
            <div *ngIf="catalogItem.gameId">
                <a [routerLink]="['/game', catalogItem.gameId]">{{catalogItem.gameTitleId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'catalog-item/'+ catalogItem.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
