<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <div [ngSwitch]="isAuthenticated()">
          <div class="col-md-8" *ngSwitchCase="true">
            <div class="col-md-11 p-0"><jhi-alert></jhi-alert></div>
            <h1 *ngIf="!isAuthenticated()">Bienvenido, Administrador de GamePop!</h1>
            <h1 *ngIf="isAuthenticated() && account">Bienvenido, Moderador!</h1>
            <p class="lead">Este es el panel de administracion y moderacion de la plataforma.</p>
            <div [ngSwitch]="isAuthenticated()">
              <div *ngSwitchCase="true">
                <div class="row">
                  <div class="col-md-8 col-xs-6">
                    <h4 class="mt-1 hidden-sm-down">
                      Los nuevos juegos de esta semana :
                    </h4>
                    <h4 class="mt-1 hidden-sm-up" >
                      Juegos de diciembre:
                    </h4>
                  </div>
                  <div class="col-md-3 text-right">
                    <button class="btn btn-primary float-right jh-create-entity create-game" [routerLink]="['/', { outlets: { popup: ['game-new'] } }]">
                        <span class="fa fa-fw fa-gamepad"></span>
                        <span  Translate="popApp.game.home.createLabel">
                        Crear Juego
                        </span>
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>


            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.authenticated.prefix">If you want to </span>
                <a class="btn-primary btn-sm text-white" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign in</a><span jhiTranslate="global.messages.info.authenticated.suffix">, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin")<br/> </span>
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>
                <a class="btn-primary btn-sm text-white" routerLink="register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
            </div>

                <div class="alert alert-warning" *ngSwitchCase="false">
                    <p >
                        Si tenes preguntas sobre GamePoP:
                    </p>

                    <ul id="resources">
                        <li><a target="_blank"
                               data-translate="home.link.homepage">Portal de GamePOP</a></li>
                        <li><a target="_blank" rel="noopener"
                               data-translate="home.link.stackoverflow">GamePop on Stack Overflow</a></li>
                        <li><a target="_blank" rel="noopener"
                               data-translate="home.link.contact">Contacto de @gamepop on Twiter</a></li>
                        <li><a target="_blank" rel="noopener"
                               data-translate="home.link.issues">Manuales y Ayuda sobre GamePOP</a></li>
                    </ul>

                </div>

        </div>
    </div>

</div>
