<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPlayerVcurrencyBalanceLabel" jhiTranslate="popApp.playerVcurrencyBalance.home.createOrEditLabel">Create or edit a Player Vcurrency Balance</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!playerVcurrencyBalance.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="playerVcurrencyBalance.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.playerVcurrencyBalance.amount" for="field_amount">Amount</label>
            <input type="number" class="form-control" name="amount" id="field_amount"
                [(ngModel)]="playerVcurrencyBalance.amount"  />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.playerVcurrencyBalance.player" for="field_player">Player</label>
            <select class="form-control" id="field_player" name="player" [(ngModel)]="playerVcurrencyBalance.playerId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="playerOption.id" *ngFor="let playerOption of players; trackBy: trackPlayerById">{{playerOption.popId}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.playerVcurrencyBalance.virtual_currency" for="field_virtual_currency">Virtual Currency</label>
            <select class="form-control" id="field_virtual_currency" name="virtual_currency" [(ngModel)]="playerVcurrencyBalance.virtual_currencyId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="VirtualCurrencyOption.id" *ngFor="let VirtualCurrencyOption of virtualcurrencies; trackBy: trackVirtualCurrencyById">{{VirtualCurrencyOption.currencyCode}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
