<div>
    <h2>
        <span jhiTranslate="popApp.playerVcurrencyBalance.home.title">Player Vcurrency Balances</span>
        <button class="btn btn-primary float-right jh-create-entity create-player-vcurrency-balance" [routerLink]="['/', { outlets: { popup: ['player-vcurrency-balance-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="popApp.playerVcurrencyBalance.home.createLabel">
            Create new Player Vcurrency Balance
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="playerVcurrencyBalances">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="amount"><span jhiTranslate="popApp.playerVcurrencyBalance.amount">Amount</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="playerPopId"><span jhiTranslate="popApp.playerVcurrencyBalance.player">Player</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="virtual_currencyCurrencyCode"><span jhiTranslate="popApp.playerVcurrencyBalance.virtual_currency">Virtual Currency</span> <span class="fa fa-sort"></span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let playerVcurrencyBalance of playerVcurrencyBalances ;trackBy: trackId">
                <td><a [routerLink]="['../player-vcurrency-balance', playerVcurrencyBalance.id ]">{{playerVcurrencyBalance.id}}</a></td>
                <td>{{playerVcurrencyBalance.amount}}</td>
                <td>
                    <div *ngIf="playerVcurrencyBalance.playerId">
                        <a [routerLink]="['../player', playerVcurrencyBalance.playerId  ]" >{{playerVcurrencyBalance.playerPopId}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="playerVcurrencyBalance.virtual_currencyId">
                        <a [routerLink]="['../virtual-currency', playerVcurrencyBalance.virtual_currencyId  ]" >{{playerVcurrencyBalance.virtual_currencyCurrencyCode}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../player-vcurrency-balance', playerVcurrencyBalance.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'player-vcurrency-balance/'+ playerVcurrencyBalance.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'player-vcurrency-balance/'+ playerVcurrencyBalance.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
