
<div *ngIf="playerVcurrencyBalance">
    <h2><span jhiTranslate="popApp.playerVcurrencyBalance.detail.title">Player Vcurrency Balance</span> {{playerVcurrencyBalance.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="popApp.playerVcurrencyBalance.amount">Amount</span></dt>
        <dd>
            <span>{{playerVcurrencyBalance.amount}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.playerVcurrencyBalance.player">Player</span></dt>
        <dd>
            <div *ngIf="playerVcurrencyBalance.playerId">
                <a [routerLink]="['/player', playerVcurrencyBalance.playerId]">{{playerVcurrencyBalance.playerPopId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="popApp.playerVcurrencyBalance.virtual_currency">Virtual Currency</span></dt>
        <dd>
            <div *ngIf="playerVcurrencyBalance.virtual_currencyId">
                <a [routerLink]="['/virtual-currency', playerVcurrencyBalance.virtual_currencyId]">{{playerVcurrencyBalance.virtual_currencyCurrencyCode}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'player-vcurrency-balance/'+ playerVcurrencyBalance.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
