<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myEventDefinitionLabel" jhiTranslate="popApp.eventDefinition.home.createOrEditLabel">Create or edit a Event Definition</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!eventDefinition.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="eventDefinition.id" readonly />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.eventDefinition.game" for="field_game">Game</label>
            <select class="form-control" id="field_game" name="game" [(ngModel)]="eventDefinition.gameId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="gameOption.id" *ngFor="let gameOption of games; trackBy: trackGameById">{{gameOption.titleId}}</option>
            </select>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.eventDefinition.evCode" for="field_evCode">Ev Code</label>
            <input type="text" class="form-control" name="evCode" id="field_evCode"
                [(ngModel)]="eventDefinition.evCode" required maxlength="80" pattern="^[_'.@A-Za-z0-9-]*$" />
            <div [hidden]="!(editForm.controls.evCode?.dirty && editForm.controls.evCode?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.evCode?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.evCode?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 80 }">
                   This field cannot be longer than 80 characters.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.evCode?.errors?.pattern" jhiTranslate="entity.validation.pattern" translateValues="{ pattern: 'Ev Code' }">
                    This field should follow pattern for "Ev Code".
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.eventDefinition.evName" for="field_evName">Ev Name</label>
            <input type="text" class="form-control" name="evName" id="field_evName"
                [(ngModel)]="eventDefinition.evName" required maxlength="80" pattern="^[_'.@A-Za-z0-9-]*$" />
            <div [hidden]="!(editForm.controls.evName?.dirty && editForm.controls.evName?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.evName?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.evName?.errors?.maxlength" jhiTranslate="entity.validation.maxlength" translateValues="{ max: 80 }">
                   This field cannot be longer than 80 characters.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.evName?.errors?.pattern" jhiTranslate="entity.validation.pattern" translateValues="{ pattern: 'Ev Name' }">
                    This field should follow pattern for "Ev Name".
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.eventDefinition.evDescription" for="field_evDescription">Ev Description</label>
            <input type="text" class="form-control" name="evDescription" id="field_evDescription"
                [(ngModel)]="eventDefinition.evDescription"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.eventDefinition.evType" for="field_evType">Ev Type</label>
            <select class="form-control" name="evType" [(ngModel)]="eventDefinition.evType" id="field_evType" >
                <option value="LOG_EVENT_TYPE">{{'popApp.EventType.LOG_EVENT_TYPE' | translate}}</option>
                <option value="ST_EVENT_TYPE">{{'popApp.EventType.ST_EVENT_TYPE' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.eventDefinition.stCode" for="field_stCode">St Code</label>
            <input type="text" class="form-control" name="stCode" id="field_stCode"
                [(ngModel)]="eventDefinition.stCode"  />
        </div>

        <div class="form-group">
            <label jhiTranslate="popApp.eventDefinition.statistic" for="field_statistic">Statistic</label>
            <select class="form-control" id="field_statistic" multiple name="statistic" [(ngModel)]="eventDefinition.statistics">
                <option [ngValue]="getSelected(eventDefinition.statistics, statisticDefinitionOption)" *ngFor="let statisticDefinitionOption of statisticdefinitions; trackBy: trackStatisticDefinitionById">{{statisticDefinitionOption.stCode}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
