
<div *ngIf="eventDefinition">
    <h2><span jhiTranslate="popApp.eventDefinition.detail.title">Event Definition</span> {{eventDefinition.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="popApp.eventDefinition.evCode">Ev Code</span></dt>
        <dd>
            <span>{{eventDefinition.evCode}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.eventDefinition.evName">Ev Name</span></dt>
        <dd>
            <span>{{eventDefinition.evName}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.eventDefinition.evDescription">Ev Description</span></dt>
        <dd>
            <span>{{eventDefinition.evDescription}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.eventDefinition.evType">Ev Type</span></dt>
        <dd>
            <span jhiTranslate="{{'popApp.EventType.' + eventDefinition.evType}}">{{eventDefinition.evType}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.eventDefinition.stCode">St Code</span></dt>
        <dd>
            <span>{{eventDefinition.stCode}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.eventDefinition.game">Game</span></dt>
        <dd>
            <div *ngIf="eventDefinition.gameId">
                <a [routerLink]="['/game', eventDefinition.gameId]">{{eventDefinition.gameTitleId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="popApp.eventDefinition.statistic">Statistic</span></dt>
        <dd>
            <span *ngFor="let statistic of eventDefinition.statistics; let last = last">
                <a [routerLink]="['/statistic-definition', statistic?.id ]">{{statistic.stCode}}</a>{{last ? '' : ', '}}
            </span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'event-definition/'+ eventDefinition.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
