<div>
    <h2>
        <span jhiTranslate="popApp.eventDefinition.home.title">Event Definitions</span>
        <button class="btn btn-primary float-right jh-create-entity create-event-definition" [routerLink]="['/', { outlets: { popup: ['event-definition-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="popApp.eventDefinition.home.createLabel">
            Create new Event Definition
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="eventDefinitions">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="gameTitleId"><span jhiTranslate="popApp.eventDefinition.game">Game</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="evCode"><span jhiTranslate="popApp.eventDefinition.evCode">Ev Code</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="evName"><span jhiTranslate="popApp.eventDefinition.evName">Ev Name</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="evDescription"><span jhiTranslate="popApp.eventDefinition.evDescription">Ev Description</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="evType"><span jhiTranslate="popApp.eventDefinition.evType">Ev Type</span> <span class="fa fa-sort"></span></th>
            <th jhiSortBy="stCode"><span jhiTranslate="popApp.eventDefinition.statistic">St Code</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let eventDefinition of eventDefinitions ;trackBy: trackId">
                <td>
                    <div *ngIf="eventDefinition.gameId">
                        <a [routerLink]="['../game', eventDefinition.gameId  ]" >{{eventDefinition.gameTitleId}}</a>
                    </div>
                </td>
                <td>{{eventDefinition.evCode}}</td>
                <td>{{eventDefinition.evName}}</td>
                <td>{{eventDefinition.evDescription}}</td>
                <td jhiTranslate="{{'popApp.EventType.' + eventDefinition.evType}}">{{eventDefinition.evType}}</td>
                <!--td>{{eventDefinition.stCode}}</td-->
                <td>
                    <span *ngFor="let statistic of eventDefinition.statistics; let last = last">
                        <a [routerLink]="['/statistic-definition', statistic?.id ]">{{statistic.stCode}}</a>{{last ? '' : ', '}}
                    </span>
                    <span *ngIf="eventDefinition.stCode">
                      | <a [routerLink]="['/statistic-definition']">{{eventDefinition.stCode}}</a>
                    </span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../event-definition', eventDefinition.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'event-definition/'+ eventDefinition.id + '/edit'} }]"
                                replaceUrl="true"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'event-definition/'+ eventDefinition.id + '/delete'} }]"
                                replaceUrl="true"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
