
<div *ngIf="playerData">
    <h2><span jhiTranslate="popApp.playerData.detail.title">Player Data</span> {{playerData.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="popApp.playerData.dataValue">Data Value</span></dt>
        <dd>
            <span>{{playerData.dataValue}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.playerData.lastModifiedAt">Last Modified At</span></dt>
        <dd>
            <span>{{playerData.lastModifiedAt | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.playerData.dataVersion">Data Version</span></dt>
        <dd>
            <span>{{playerData.dataVersion}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.playerData.createdAt">Created At</span></dt>
        <dd>
            <span>{{playerData.createdAt | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="popApp.playerData.player">Player</span></dt>
        <dd>
            <div *ngIf="playerData.playerId">
                <a [routerLink]="['/player', playerData.playerId]">{{playerData.playerPopId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="popApp.playerData.data_definition">Data Definition</span></dt>
        <dd>
            <div *ngIf="playerData.data_definitionId">
                <a [routerLink]="['/data-definition', playerData.data_definitionId]">{{playerData.data_definitionDataKey}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'player-data/'+ playerData.id + '/edit'} }]"
            replaceUrl="true"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
