<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myPlayerDataLabel" jhiTranslate="popApp.playerData.home.createOrEditLabel">Create or edit a Player Data</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!playerData.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="playerData.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.playerData.player" for="field_player">Player</label>
            <select class="form-control" id="field_player" name="player" [(ngModel)]="playerData.playerId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="playerOption.id" *ngFor="let playerOption of players; trackBy: trackPlayerById">{{playerOption.popId}}</option>
            </select>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.playerData.data_definition" for="field_data_definition">Data Definition</label>
            <select class="form-control" id="field_data_definition" name="data_definition" [(ngModel)]="playerData.data_definitionId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="DataDefinitionOption.id" *ngFor="let DataDefinitionOption of datadefinitions; trackBy: trackDataDefinitionById">{{DataDefinitionOption.dataKey}}</option>
            </select>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.playerData.dataValue" for="field_dataValue">Data Value</label>
            <input type="text" class="form-control" name="dataValue" id="field_dataValue"
                [(ngModel)]="playerData.dataValue" pattern="^[_'.@A-Za-z0-9-]*$" />
            <div [hidden]="!(editForm.controls.dataValue?.dirty && editForm.controls.dataValue?.invalid)">
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.dataValue?.errors?.pattern" jhiTranslate="entity.validation.pattern" translateValues="{ pattern: 'Data Value' }">
                    This field should follow pattern for "Data Value".
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.playerData.dataVersion" for="field_dataVersion">Data Version</label>
            <input type="text" class="form-control" name="dataVersion" id="field_dataVersion"
                [(ngModel)]="playerData.dataVersion"  />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.playerData.lastModifiedAt" for="field_lastModifiedAt">Last Modified At</label>
            <div class="d-flex">
                <input id="field_lastModifiedAt" type="datetime-local" class="form-control" name="lastModifiedAt" [(ngModel)]="playerData.lastModifiedAt"
                required  />
            </div>
            <div [hidden]="!(editForm.controls.lastModifiedAt?.dirty && editForm.controls.lastModifiedAt?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.lastModifiedAt?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.lastModifiedAt?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="popApp.playerData.createdAt" for="field_createdAt">Created At</label>
            <div class="d-flex">
                <input id="field_createdAt" type="datetime-local" class="form-control" name="createdAt" [(ngModel)]="playerData.createdAt"
                required  />
            </div>
            <div [hidden]="!(editForm.controls.createdAt?.dirty && editForm.controls.createdAt?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.createdAt?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
                <small class="form-text text-danger"
                    [hidden]="!editForm.controls.createdAt?.errors?.ZonedDateTimelocal" jhiTranslate="entity.validation.ZonedDateTimelocal">
                    This field should be a date and time.
                </small>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
